@import "tailwindcss";

.marker {
  color: red;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: white; /* Tailwind gray-200 */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: white; /* Tailwind blue-500 */
    border-radius: 9999px;
    border: 1px solid transparent;
  }
}